@using Microsoft.JSInterop

@inject IJSRuntime _js

<div class="my-component">
    This component is defined in the <strong>FireballEngine.UI.Blazor</strong> library.
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var a = new ExampleJsInterop(_js);

        var b = await a.Prompt("Hello World!!!");

        await base.OnInitializedAsync();
    }    
}
